<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
      Splurtys was built by <a target="_blank" href="https://github.com/Jorge-FHP">Jorge</a>. A Apprentice under the wing of the <a href="http://www.thefirehoseproject.com/">Firehose Project</a>.  Splurtys is the first app I learned to build. I enjoy being challenged and working on projects that require me to work outside my comfort and knowledge set.
    </p>
    <br />
    <p>
      Continuing to learn new languages and development techniques are important to me and the success of your organization. I will continue on my long journey, becoming a Software Engineer.
    </p>
    <p>
      If you want to learn how to code like me - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
    </p>



  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'me copy.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jorge Hernandez</h2>
    <br />
    <p>
      Jorge is a Electrician for the railroad. On his free time he studies to become a Software Engineer. Currently a student from the Firehose Project.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

